@{
    ViewBag.Title = "Home Page";
}
<table class="calendar">
    <tr>
        <td class="prev-next-btn">@Html.ActionLink("prev", "Prev")</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
        <td class="prev-next-btn">@Html.ActionLink("prev", "Prev")</td>
    </tr>
    <tr>
        <td>@string.Format("W{0:D2} 2018", ViewBag.week)</td>
        @foreach(var Day in ViewBag.cal.GetRange(0,7)) {
            <td><div>
                <div class="date">
                    @Day.DateString
                </div>
                @foreach (var Event in Day.Events)
                {
                    <div class="event">
                        @Event
                    </div>
                }
            </div></td>
        }
        <td>@string.Format("W{0:D2} 2018", ViewBag.week)</td>
    </tr>
    <tr>
        <td>@string.Format("W{0:D2} 2018", ViewBag.week + 1)</td>
        @foreach (var Day in ViewBag.cal.GetRange(7, 7))
        {
            <td><div>
                <div class="date">
                    @Day.DateString
                </div>
                @*@foreach (var Event in Day.Events)
                {
                    <div class="event">
                        @Event
                    </div>
                }*@
            </div></td>
        }
        <td>@string.Format("W{0:D2} 2018", ViewBag.week + 1)</td>
    </tr>
    <tr>
        <td>@string.Format("W{0:D2} 2018", ViewBag.week + 2)</td>
        @foreach (var Day in ViewBag.cal.GetRange(14, 7))
        {
            <td><div>
                <div class="date">
                    @Day.DateString
                </div>
                @*@foreach (var Event in Day.Events)
                {
                    <div class="event">
                        @Event
                    </div>
                }*@
            </div></td>
        }
        <td>@string.Format("W{0:D2} 2018", ViewBag.week + 2)</td>
    </tr>
    <tr>
        <td>@string.Format("W{0:D2} 2018", ViewBag.week + 3)</td>
        @foreach (var Day in ViewBag.cal.GetRange(21, 7))
        {
            <td><div>
                <div class="date">
                    @Day.DateString
                </div>
                @*@foreach (var Event in Day.Events)
                {
                    <div class="event">
                        @Event
                    </div>
                }*@
            </div></td>
        }
        <td>@string.Format("W{0:D2} 2018", ViewBag.week + 3)</td>
    </tr>
    <tr>
        <td class="prev-next-btn">@Html.ActionLink("next", "Next")</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
        <td class="prev-next-btn">@Html.ActionLink("next", "Next")</td>
    </tr>
</table>